:root {
  --blue: #3a40f1;
  --green: #78d3b9;
  --yellow: #f7f093;
  --orange: #ff8944;
  --red: #f74040;
  --grey: #dadde1;
  --black: rgb(0, 0, 0);
}

body {
  background-image: radial-gradient(var(--green) 50%, white 50%);
  background-size: 2px 3px;
  font-family: arial, sans-serif;
  text-align: left;
}

h1 {
  font-size: 16px;
  margin: 10px;
  padding-top: 30px;
}

ul {
  margin: 0 0 10px;
  padding: 0;
  list-style-type: none;
}

a {
  text-align: center;
  display: block;
}

.card {
  background-color: white;
  display: block;
  width: 530px;
  padding: 25px;
  margin: 100px auto;
  min-height: 200px;
  box-shadow: 10px 10px 0 -3px white, 10px 10px var(--green),
    20px 20px 0 -3px white, 20px 20px var(--yellow), 30px 30px 0 -3px white,
    30px 30px var(--orange), 40px 40px 0 -3px white, 40px 40px var(--red);
  border: 3px solid var(--blue);
  position: relative;
  top: 0;
  left: 0;
}

.temp {
  font-size: 64px;
  margin-left: 20px;
}

.units {
  position: relative;
  top: -34px;
  cursor: pointer;
}

.humidity,
.wind {
  margin-left: -20px;
}

.humidity {
  margin-bottom: 10px;
}

#city-input {
  border: 1px solid var(--grey);
  border-radius: 10px;
  padding: 7px;
  box-shadow: 5px 5px 5px var(--grey);
}

#submit-input {
  border: 1px solid var(--black);
  border-radius: 10px;
  padding: 7px 10px;
  background-color: var(--green);
  margin-left: 20px;
  box-shadow: 5px 5px 5px var(--grey);
}

#current-input {
  border: 1px solid var(--black);
  border-radius: 10px;
  padding: 7px 10px;
  background-color: var(--yellow);
  box-shadow: 5px 5px 5px var(--grey);
}

#date,
#description {
  margin-left: -20px;
}

#icon {
  padding-top: 20px;
}
